{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    {% for coin in coins.data %}
            {% if coin.rank|add:"0" <= 20 %}
    <tr>
        <td>
            {{ coin.rank }}
        </td>
        <td>
            {{ coin.name }}
        </td>
        <td>
            {{ coin.priceUsd|floatformat:"6"|intcomma }}(USD)
        </td>
        <td>
          {% widthratio coin.priceUsd 1 dollar as rialprice %}
            {% widthratio rialprice 1 10 as rialprice %}
            {{ rialprice|intcomma }}(IRR)
        </td>
        <td>
            <a href="{{ coin.url }}" target="_blank">Details </a>
        </td>
    </tr>
        {% endif %}
 {% endfor %}
{% endblock %}