{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    {% for coin, value in coins.items %}
    <tr>
        <td>
            {{ coin }}
        </td>
        <td>
            {{ value.symbol }}
        </td>
        <td>
            {{ value.price|intcomma }}(USD)
        </td>
        <td>
          {% widthratio value.price 1 dollar as rialprice %}
            {% widthratio rialprice 1 10 as rialprice %}
            {{ rialprice|intcomma }}(IRR)
        </td>
        <td>
            <a href="{{ value.url }}" target="_blank">Details </a>
        </td>
    </tr>
 {% endfor %}
{% endblock %}