{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="{% static "css/signup.css"%}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic'>


</head>

<body>

  <div class="container">
	<div class="box" id="sign-up">
		<a style=" font-family: 'Lato', 'Arial', sans-serif;" class="back" href="/home/"><span class="back-arrow">Back</span></a>
		<div class="brand">
			<div class="logo">
			<img src="{% static "img/sign-up-icon-3.png"%}" height="62">

			</div>

			<h2 style=" font-family: 'Lato', 'Arial', sans-serif;" class="title">Sign up </h2>
		</div>
        {% csrf_token %}


		<div class="form" >
			<form method="POST">
				<div class="row">
                    {{ user_form.first_name }}
                    {{ user_form.last_name }}
				</div>

      <p>
        {{ user_form.username }}
        {{ user_form.email }}
        {{ profile_form.phone_number }}
        {{ user_form.password }}
        {{ profile_form.picture }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

				<div class="checkbox">
					<input type="checkbox" name="terms" id="terms">
					<label for="terms" class="checkbox-label"></label>
					<label style=" font-family: 'Lato', 'Arial', sans-serif;" for="terms" class="description">I agree with <a href="/law/">Terms & conditions</a></label>
						<label style=" font-family: 'Lato', 'Arial', sans-serif;" for="terms" class="description">if you have accont<a href="/accounts/accounts/login/">  click here</a></label>
				</div>
				<button style=" font-family: 'Lato', 'Arial', sans-serif;" type="submit" name="submit">Sign up</button>
			</form>
		</div>
	</div>
</div>



</body>

</html>
